*/.vs/
FSEarthTiles/FSETScriptsTempFilesCleanUp
FSEarthTiles/FSEarthMasks/obj/
FSEarthTiles/FSEarthMasksDLL/obj/
FSEarthTiles/FSEarthMasksInternalDLL/obj/
FSEarthTiles/FSEarthTiles/obj/
FSEarthTiles/FSEarthTilesDLL/obj/
FSEarthTiles/FSEarthTilesDLLTester/obj/
FSEarthTiles/FSEarthTilesInternalDLL/obj/