*/.vs/
FSEarthTiles/FSETScriptsTempFilesCleanUp
FSEarthTiles/FSEarthMasks/obj/
FSEarthTiles/FSEarthMasksDLL/obj/
FSEarthTiles/FSEarthMasksInternalDLL/obj/
FSEarthTiles/FSEarthTiles/obj/
FSEarthTiles/FSEarthTilesDLL/obj/
FSEarthTiles/FSEarthTilesDLLTester/obj/
FSEarthTiles/FSEarthTilesInternalDLL/obj/
FSEarthTiles/FSEarthMasks/bin/Debug/
FSEarthTiles/FSEarthMasksDLL/bin/Debug/
FSEarthTiles/FSEarthMasksInternalDLL/bin/Debug/
FSEarthTiles/FSEarthTiles/bin/Debug/
FSEarthTiles/FSEarthTilesInternalDLL/bin/Debug/
FSEarthTiles/FSEarthTilesDLL/bin/Debug/
FSEarthTiles/FSEarthTilesDLLTester/bin/Debug/
FSEarthTiles/ALGLib/bin/Debug/
FSEarthTiles/ALGLib/obj/Debug
